@import "tailwindcss";
@plugin "daisyui";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* background-color: rgb(177, 193, 216); */
  background-color: rgb(224, 224, 224);
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-effect {
  /* background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);*/

  backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
} 